.page {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: stretch;
  font-family: var(--font-geist-sans);
}

.canvasWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.main {
  position: relative;
  z-index: 1;
  display: flex;
  flex: 1;
  min-height: 0;
  width: 100%;
  max-width: 1200px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}


@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }
}

@media (prefers-color-scheme: dark) {
}

.logo {
  --shadow-start-distance: 8px;
  --float-height: 16px;
  position: relative;
  animation: hover 2s cubic-bezier(0.33, 0.5, 0.67, 0.5) infinite, rotate 3s linear infinite;
}

@keyframes hover {
  0% {
    top: 0;
    filter: drop-shadow(0 var(--shadow-start-distance) 2px #777);
  }
  50% {
    top: calc(-1 * var(--float-height));
    filter: drop-shadow(0 calc(var(--shadow-start-distance) + var(--float-height)) 12px #999);
  }
  100% {
    top: 0;
    filter: drop-shadow(0 var(--shadow-start-distance) 2px #777);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(4deg);
  }
  70% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}