.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  margin-top: -120px;
  background-color: transparent;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .container {
    margin-top: -48px;
  }
}
